.avatar__button-edit {
    background: none;
    border: none;
    border-radius: 50%;
    height: 120px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
  }
  
  .avatar__button-edit:hover {
    background: rgba(0, 0, 0, 0.8) url(../../../images/avatar-edit-foreground.svg) no-repeat 50%;
    cursor: pointer;
  }